body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.complete {
  color: rgb(194, 194, 194);
  text-decoration: line-through;
}

.todoBody {
  cursor: pointer;
  transition: color 0.6s;
}

.todoBody:hover {
  color: #999;
}